section{
    padding: 200px 10%;
}

span{
    color: turquoise
}

h1{
    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin-bottom: 2rem;
}
h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: tomato;
    margin-bottom: 2rem;
}
.home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4em;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.change-text{
    font-size: 1.5rem;
    font-weight: 600;
}
.change-text h3{
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}

.change-text h3 .word{
    position: absolute;
    display: flex;
    opacity: 0;
}

.change-text h3 .word .letter{
    transform-origin: center center 25px;
}

.change-text h3 .word .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.change-text h3 .word .letter.in{
    transition: 0.38s ease;
}

.change-text h3 .word .letter.behind{
    transform: rotateX(-90deg);
}

.home-content p{
    color: #19c561;
    line-height: 1.6;
    text-align: justify;
    font-size: medium;
}

.btn-box{
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 45px;
    margin-top: 2rem;
}

.btn-box .btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    border: 2px solid turquoise;
    color: black;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    border-radius: 5px;
    cursor: pointer;
    box-shadow:0 0 0.3rem white;
}
.btn:hover{
    background-color: rgba(0, 128, 21, 0.596);
    transform: scale(1.1);
}
.btn span{
    cursor: pointer;
    display: inline-flex;
    position: relative;
    transition: 0.5s;
    color: white;
}

.btn span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}

.btn:hover span{
    padding-right: 20px;
}
.btn:hover span:after{
    opacity: 1;
    right: 0;
}

.social-icons{
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 40px;
}
.social-icons a{
    display: inline-flex;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #03f3a386, #f218185d);
    color: white;
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    box-shadow:0 0 2px 2px #00ffff;
    position:relative;
    z-index: 1;
    overflow: hidden;
}
.social-icons a:hover{
    background: linear-gradient(to right, #03f3cbbd, #f218185d);
    box-shadow: black;
    transform: scale(1.2);
}

.social-icons a i{
    font-size: 1.5rem;
}

.home-image{
    position: relative;
}

.img-box{
    text-align: center;
}

.img-box img{
    width: 100%;
    max-width: 350px;
    height: auto;
    border: 2px solid palegreen;
    border-radius: 10px;
    box-shadow: 0 0 0.3rem #12f7ff;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width:768px){
    .home{
        grid-template-columns: 1fr;
        
    }
    .social-icons{
        align-items: center;
        margin-top: 3rem;
    }
}